.addRate {
  display: none;
}
.rateBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 78;
  background: #fff;
  padding: 30px;
  min-width: 500px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  z-index: 60;
  border-radius: 0;
  backdrop-filter: blur(2px);
}
.closeIcon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.icon {
  font-size: 60px;
  width: 40px;
}
.input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.input:focus {
  outline: none;
}

.submit {
  border: 0;
  background: #aba49f;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 22px;
}

.message {
  background-color: #fff;
  color: #f00;
  padding: 4px 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 15px 0px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.rateMessage {
  font-size: 25px;
}
